In [2]:
from __future__  import print_function, division
import pylab as pl
import pandas as pd
import numpy as np
import os
import json
import zipfile

%pylab inline

Populating the interactive namespace from numpy and matplotlib

$\alpha = 0.05$

$H_0$ : ${New X8{\mathrm{mean}}} \leq {Old X8{\mathrm{mean}}}$

$H_1$ : ${New X8{\mathrm{mean}}} > {Old X8{\mathrm{mean}}}$

In [ ]:
Null Hypothesis:

In [ ]:
Alternative Hypothesis:

In [3]:
!curl https://raw.githubusercontent.com/fedhere/PUI2018_fb55/master/Lab4_fb55/times.txt?accessType=DOWNLOAD > bus_data.txt

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  1179  100  1179    0     0   2579      0 --:--:-- --:--:-- --:--:--  2579

In [4]:
print("PUIdata", os.getenv("PUIDATA"))
print("PUI2018", os.getenv("PUI2018"))

PUIdata /Users/nathancaplan/Documents/NYU_CUSP/Fall_2018/PUI/PUIDATA
PUI2018 /Users/nathancaplan/Documents/NYU_CUSP/Fall_2018/PUI/PUI2018

In [5]:
!mv bus_data.txt $PUIDATA

In [6]:
!ls $PUIDATA

Current_Reservoir_Levels.JSON         January2018_citibike_tripdata.csv.zip
Current_Reservoir_Levels.csv          bus_data.txt

In [7]:
x8 = pd.read_csv(os.getenv("PUIDATA") + '/bus_data.txt', header=None)
x8.head()

           0
0  31.622239
1  32.821376
2  30.229101
3  31.413766
4  39.010550

In [8]:
x8.tail()

            0
95  26.197852
96  42.727410
97  33.731470
98  37.238591
99  36.339841

In [14]:
u_pop = 36
sigma = 6
N = 100
u_sample = x8.mean()
print("The population mean is %d"%u_pop,", the sample mean is %.2f"%u_sample,", the standard deviation is %d"%sigma,", and the count is %d"%N,".")

The population mean is 36 , the sample mean is 34.47 , the standard deviation is 6 , and the count is 100 .

 $Z = \frac{\mu_{pop} - \mu_{sample}}{\sigma / \sqrt{N}}$

In [11]:
z_score = (u_pop - u_sample) / (sigma / (N**0.5))
print("The z-score is %.3f"%z_score)

The z-score is 2.556

Since the z-score lies outside of the confidence interval (standard deviation = 2), there isn 9% certaininty that this event is not random and thus we reject the null hypothesis.